.card_uslugi_section_three {
    display:flex;
    justify-content:space-between;
    height:540px;
}
.one_usluga_section__three div div {
    height: 540px;
}
.one_usluga_section__three div video {
    height: 540px;
}
.one_usluga_section__three {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background:#292929;
    height: 540px;
}
.border_for_usligi_bottom {
    border-top: 1px solid #fff;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.border_for_usligi {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.border_for_usligi:last-child {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.border_for_usligi_bottom:last-child {
    border-right: 1px solid #ccc;
}
.border_for_usligi:first-child {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.border_for_usligi_bottom:first-child {
    border-left: 1px solid #ccc;
}
.name_card_uslugi_section_three {
    text-align: start;
    color: #fff;
    font-weight: 400;
    font-size: 32px;
    height: auto!important;
}
.desc_card_uslugi_section_three {
    text-align: start;
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    height: auto!important;
}
